//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

// Light Color Palette (Custom Properties)
html {
  --color-primary: hsl(87, 98%, 34%);
  --color-primary-m: hsla(87, 100%, 45%, 0.55);
  --color-secondary: hsl(274, 99%, 72%);
  --color-secondary-m: hsla(274, 99%, 72%, 0.6);
  --color-tertiary: hsl(185, 36%, 47%);
  --color-tertiary-m: rgba(38, 52, 65, 0.65);
  --color-quaternary: rgb(255, 235, 153);
  --color-quaternary-m: rgba(192, 162, 43, 0.65);
  --color-quinary: rgba(255, 255, 255, 0.589);
  --color-quinary-m: rgba(255, 255, 255, 0.5);

  --color-error: #ff0000f6;
  --color-error-m: #ff0000a6;
}

// Dark Color Palette (Custom Properties)
$color-primary: hsl(87, 98%, 34%);
$color-primary-m: hsla(87, 100%, 45%, 0.55);

$color-secondary: hsl(274, 99%, 72%);
$color-secondary-m: hsla(274, 99%, 72%, 0.6);

$color-tertiary: hsl(185, 36%, 47%);
$color-tertiary-m: rgba(38, 52, 65, 0.65);

$color-quartenary: rgb(255, 235, 153);
$color-quartenary-m: rgba(192, 162, 43, 0.65);

$color-quinary: white;
$color-quinary-m: rgba(255, 255, 255, 0.5);

// Copied
$color-primary: #440381;
$color-primary-m: #981d87;

$color-secondary: #51e5ff;
$color-secondary-m: #4b74c0;

$color-tertiary: #ec368d;
$color-tertiary-m: #f66e99;

$color-quartenary: #ffa5a5;
$color-quartenary-m: #ffbeb3;

$color-quinary: #cda2ab;
$color-quinary-m: #d2aab3;

$color-dark: #0f0e0e;
$color-light: #fbf5f3;
$color-light: #fbf5f38a;

$color-medium: #252424;
$color-medium-m: #271c2d;

// *(*(*(*(*(*(****(((*OTHERS)))))))))

$color-background: #048a81;
$color-background-m: #05b091;

$color-background-light: #8a89c0;
$color-background-light-m: #ac96b6;

$color-font: #fbfbf2;
$color-font-m: #4fccd4;

$color-border: #97c8eb;
$color-border-m: #a0cded;

$color-selection-background: #6e46b6;
$color-selection-font: #7dcf31;

$color-pseudo-before: #3aafb9;
$color-pseudo-before-m: #0c6291;
$color-pseudo-after: #4fccd4;
$color-pseudo-after-m: #06314b;

// // Portfolio
$ColorGreen: #0b473f;
$ColorYellow: #ffc265;
$ColorPink: #fac6dd;
$ColorBlue: #c6f7fa;
// Hotel flyer
$color-fair-green: #017d41;
$color-fair-juice: #b89b33;
$color-grey: #8e8e8d;
$color-black: #2b2b2b;
$color-black-m: #2b2b2b91;
$color-brown: #48321e;
$color-brown-m: #48321e86;
// $color-yellow: #fda403;
$color-yellow: #017d41;
$color-yellow-m: #017d4183;
$color-pink: #b89b33;
$color-pink-m: hsla(340, 72%, 46%, 0.562);
// @#$$ fairhills
$color1: #b89b33;
$color2: #017d41;
$color2_: #017d4191;
$color3: #07080a;
$color4: #5c5c67;
$color4_: #5c5c678f;
$color-light_: rgba(255, 255, 255, 0.589);
// New year
$col-1: #b40504;
$col-2: #ec8b89;
$col-3: #9c0404;
$col-4: #8f8544;
$col-5: #c59593;

// *******((((Others)))
$spacing: 0.1rem;
$radius: 0.75rem;
$transition: all 0.5s ease-in-out;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
// Christmas
$color-gr: #165b33;
$color-gr2: #146b3a;
$color-yel: #f8b229;
$color-red: #ea4630;
$color-red2: #bb2528;
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Weights *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-weights: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Sizes *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-sizes: (
  "font-size-small": calc(1.2rem + 0.5vw),
  "font-size-regular": calc(1.5rem + 1vw),
  "font-size-medium": calc(1.5rem + 2vw),
  "font-size-large": calc(1.5rem + 5vw),
  "font-size-xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-desktop": 1300px,
);

@function break-point($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}
